/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour le header */
header {
    background-color: #4a235a; /* Violet foncé */
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px; /* Adapter la taille du logo selon vos besoins */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Styles pour le contenu */
.content {
    padding: 20px;
    text-align: center;
}

.content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #8e44ad; /* Violet un peu plus clair */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #6c3483; /* Violet encore plus foncé au survol */
}

/* Styles pour le footer */
footer {
    background-color: #4a235a; /* Violet foncé */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}